.hero-sec-Management{
    background: url('/Pattern_3 1.svg'),rgba(34, 41, 51, 1);
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-container-Management{
    width: 90%;
}
.hero-content-Management h1{
    margin-top: 131px;
    font-size: 64px;
    text-align: center;
    width: 50%;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}
.hero-content-Management {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content-Management p{
    color: rgba(255, 255, 255, 1);
    font-family: 'League Spartan';
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
    line-height: 25px;
    width: 50%;
}
.hero-content-Management button{
    margin-top: 40px;
    margin-bottom: 100px;
    background: rgba(172, 149, 118, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Cinzel', serif;
    font-size: 18px;
    border: none;
    font-weight: 300;
    padding: 16px 32px;
}
.hero-content-Management span{
    font-size: 64px;
    font-family: 'Lavishly Yours';
    color: rgba(172, 149, 118, 1);
    position: absolute;
    position: absolute;
    top: 250px;
    right: 25%;
    rotate: -8.363deg;
}
.Service-Description-sec{
    padding: 120px 0;
    display: flex;
    justify-content: flex-end;
}
.Service-Description-contanier{
    display: flex;
    justify-content: space-between;
    width: 95%;
    gap: 60px;
}
.Service-Description-des span{
    color: #AC9576;
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.Service-Description-des {
    margin-top: 20px;
}
.Service-Description-des h1{
    font-size: 50px;
    font-family: 'Cinzel';
    color: #364250;
    width: 70%;
}
.Service-Description-des p{
    margin-top: 30px;
    color: #222933;
    font-family: 'League Spartan';
    font-weight: 300;
    line-height: 25px;
}
.Features-sec{
    padding: 120px 0;
    background:#F8F4F1;
    display: flex;
    justify-content: center;
}
.Features-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Features-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Features-title span{
    color: #AC9576;
    font-family: 'League Spartan';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.Features-title h1{
    color: #364250;
    text-align: center;
    font-family: 'Cinzel';
    font-weight: 400;
    font-size: 50px;
    width: 80%;
}
.Features-cards {
    margin-top:60px ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    row-gap: 60px;
    margin-bottom: 60px;
  }
.Features-single-card{
    border: 1px solid #AC9576;
    padding: 32px ;
    text-align: center;
}
.Features-single-card h6{
    font-size: 18px;
    font-family: 'Cinzel';
    font-weight: 400;
    color: #222933;
    margin-top: 30px;
}
.Features-single-card p{
    font-size: 17px;
    font-family: 'League Spartan';
    line-height: 25px;
    color: #364250;
    margin-top: 30px;
}
.Features-container button{
    background: rgba(172, 149, 118, 1);
    color: rgba(255, 255, 255, 1);
    font-family: 'Cinzel', serif;
    font-size: 18px;
    border: none;
    font-weight: 300;
    padding: 16px 32px;
}
.We-hear-you-sec{
    display: flex;
    justify-content: center;
    padding: 120px 0;
}
.We-hear-you-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 90%;
}
.We-hear-you-title div#panel1-header,div#panel2-header,div#panel3-header{
    background: #AC9576;
}
path{
    color: white;
}
.We-hear-you-title .MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content{
    color: #FCFCFC;
    font-size: 24px;
    font-family: 'Cinzel';

}
.We-hear-you-title .MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root{
    color: #02275B;
    font-size: 18px;
    font-family: 'League Spartan';
    line-height: 25px;
}
.We-hear-you-title .MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root{
    box-shadow: none;
    border: 1px solid #AC9576; 
}
.our-solution-sec{
    display: flex;
    justify-content: center;
    padding: 120px 0;
    background: #F8F4F1;
}
.our-solution-container{
    width: 90%;
}
.our-solution-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-solution-content span{
    text-transform: uppercase;
    color: #AC9576;
    font-family: 'League Spartan';
    font-weight: 400;
    margin-bottom: 10px;
}
.our-solution-content h1{
    color: #02275B;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Cinzel';
    width: 60%;
    text-align: center;
}
.our-solution-content p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'League Spartan';
    line-height: 25px;
    text-align: center;
    width: 90%;
    margin-top: 60px;
}
.The-Process-sec{
    padding: 120px 0;
    display: flex;
    justify-content: center;
}
.The-Process-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.The-Process-title span{
    color: #AC9576;
    font-size: 16px;
    font-family: 'League Spartan';
    text-transform: uppercase;
    margin-bottom: 10px;
}
.The-Process-title h1{
    text-transform: uppercase;
    color: #02275B;
    font-size: 50px;
    font-family: 'Cinzel';
    width: 65%;
    font-weight: 400;
}
.The-Process-title p{
    color: #222933;
    font-size: 18px;
    font-family: 'League Spartan';
    font-weight: 300;
    width: 65%;
    line-height: 25px;
    margin-top: 30px;
}
.Qualification-sec{
    display: flex;
    justify-content: center;
    padding: 120px 0;
    background: #F8F4F1;
}
.Qualificationcontainer{
    width: 90%;
}
.Qualification-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Qualification-content span{
    text-transform: uppercase;
    color: #AC9576;
    font-family: 'League Spartan';
    font-weight: 400;
    margin-bottom: 10px;
}
.Qualification-content h1{
    color: #02275B;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Cinzel';
    width: 60%;
    text-align: center;
}
.Qualification-p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'League Spartan';
    line-height: 25px;
    text-align: center;
    width: 90%;
    margin-top: 60px;
}
.Qualification-sec-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    margin-top: 60px;
}
.Qualification-single-sec {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.Qualification-single-sec p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'League Spartan';
    line-height: 25px;
}